* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --full-slider-bar: hsl(174, 77%, 80%);
  --slider-bg: hsl(174, 86%, 45%);
  --discount-bg: hsl(14, 92%, 95%);
  --discount-text: hsl(15, 100%, 70%);
  --cta-text: hsl(226, 100%, 87%);

  --pricing-component-bg: hsl(0, 0%, 100%);
  --main-bg: hsl(230, 100%, 99%);
  --empty-slider-bar: hsl(224, 65%, 95%);
  --toggle-bg: hsl(223, 50%, 87%);
  --text: hsl(225, 20%, 60%);
  --text-cta-bg: hsl(227, 35%, 25%);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  background-image: url(images/bg-pattern.svg);
  background-repeat: no-repeat;
}

h1 {
  font-weight: 800;
  color: var(--text-cta-bg);
}

span, 
p {
  color: var(--text)
}

.circles {
  position: absolute;
  top: 2rem;
}

.head {
  position: absolute;
  text-align: center;
  top: 4.5rem;
}

.head p {
  font-size: 15px;
  font-weight: 800;
}

.main {
  position: absolute;
  top: 15rem;
  height: 20rem;
  box-shadow: 0 0px 7px 3px #dddbdbfb;
  background: var(--pricing-component-bg);
  border-radius: .25rem;
  width: 35rem;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2em;
}

.pricing p {
  font-weight: 800;
}

.per-month {
  display: flex;
}

.price {
  color: var(--text-cta-bg);
}

.month {
  font-size: 15px;
  font-weight: 600;
  margin-top: 0.8em;
  margin-left: 0.3em;
}

.slider {
  display: flex;
  margin: 2rem auto;
  width: 75%;
}

.slider::-webkit-slider-thumb {
  width: 50px;
}

.attribution {
  position: absolute;
  top: 37rem; 
}
